.mobile_nav{
  height: 0;
  overflow: hidden;

  transition: height .25s;
} 
.mobile_nav_btn{
  display: none;
}

@media(max-width: 991px){
  
  /* def's */
  body{
    background: #fff;
  }
  body, .slider_shadow, .cycle-slideshow, .slider_shadow_page, .slide, .footer, .top_bg, .footer_menu{
    width: 100%;
    min-width: 100%;
  }
  .grid_1000{
    width: 100%;
  }
  .grid_935{
    padding: 0 15px;
    width: calc(100% - 30px);
  }

  .right_content{
    float: left;
    width: 100%;
    padding: 0;
    background: none;
  }
  .new_items{
    float: left;
    padding: 0 15px 30px;
    width: calc(100% - 30px);
    background: none;
  }

  /*
    Header
    ======
  */
  .top_bg{
    padding-top: 0;
  }
  header{
    background: #fff;
    height: 60px;
  }
    header a{
      margin-top: 10px;
      display: block;
      float: left;
    }
    header img{
      width: 125px;
      height: auto;
    }
    .header .social, 
    .header .contacts{ display: none; }

    .mobile_nav_btn{
      display: block;
      float: right;
      width: 15px;
      height: 15px;
      cursor: pointer;
      margin: 23px 15px 0 0;
      position: relative;
    }

    .mobile_nav_btn span{
      position: relative;
      display: block;
      height: 2px;
      background: #898989;
      margin-bottom: 3px;
      border-radius: 2px;
      box-shadow: 0 0 1px 0 #898989;

      transition: all .25s;
    }
    .mobile_nav_btn.active span:first-child,
    .mobile_nav_btn.active span:last-child{
      top: 7px;
      left: 0;
      width: 100%;
      position: absolute;
    }
    
    .mobile_nav_btn.active span:first-child{
      transform: rotate(45deg);
    }
    .mobile_nav_btn.active span:last-child{
      transform: rotate(-45deg);
    }
    .mobile_nav_btn.active span:nth-child(even){
      display: none;
    }

  .slider_shadow{
    background: none;
    padding: 0;
    margin: 0 0 30px;
  }

  /* 
    MainNavigation
    ==============
  */
  nav{
    display: none;
  }

  .mobile_nav{
    background: #c01027;
    position: absolute;
    width: 100%;
    z-index: 999;
  }
    .mobile_nav.active{
      height: 357px;
    }
    .mobile_nav li{
      border-top: 1px solid #fff;
    }
      .mobile_nav li:last-child a{
        color: #c01027;
        background: #fbcb33;
      }
    .mobile_nav a{
      display: block;
      padding: 0 15px;
      height: 50px;
      line-height: 50px;
      
      font-size: 18px;
      text-transform: uppercase;
      color: #fff;
      font-family: "Louis-Demi", sans-serif;
    }

  /* 
    Slider
    ======
  */
  .slider_shadow,
  .cycle-slideshow{
    height: 200px;
  }
  .cycle-slideshow img{
    height: auto;
  }
  .cycle-pager{
    left: 0;
    right: 0;
    text-align: center;
    bottom: 15px;
  }
  .cycle-pager span{ 
    float: none; 
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: #eddcc2;
    background-image: none;
    border-radius: 50%;
    position: relative;
  }
  .cycle-pager .cycle-pager-active:after{
    content: '';
    width: 3px;
    height: 3px;
    background: #c14540;
    top: 2px;
    left: 2px;
    position: absolute;
    z-index: 2;
    border-radius: 50%;
  }
    

  /* 
    Item 
    ====
  */
  .item_img{
    width: 100%;
    height: calc(100% - 45px);
    border-bottom: 0;
  }
  .item_shadow{
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
  }
  .item_wrp > img{
    display: inline-block;
    width: 100%;
    height: auto;
  }
  .item_title{
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding: 0 15px;
  }
  .brands{
    margin-left: 0;
    width: 60px;
    padding: 0 5px;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
    .brands img{
      width: 100%;
      height: auto; 
    }
    .brands_lots .margin{
      display: block;
      margin-left: 0;
    }
    .old_price{
      font-size: 11px;
    }
    .action_price{
      font-size: 17px;
    }
  .item_info{
    padding: 6px 15px;
    border-top: 1px solid #fff;
    font-size: 12px;
  }
  .price{
    bottom: 10px;
  }

  /*
    news block
  */
  .new_items h2, .brand_position h2, .error h1, .product_none{
    font-size: 20px;
  }
  .new_block{
    margin-right: 0;
  }
    .new_items.actions{
      margin-top: 0;
    }
    .new_block .date{
      font-size: 11px;
      line-height: 25px;
    }
    .new_block p{
      font-size: 12px;
      line-height: 20px;
    }

  /* 
    Footer 
    ======
  */
  .footer_border{
    margin: 0 15px;
    width: calc(100% - 30px);
    background-position: left top;
  }

  /* footer menu*/
  .footer_menu{
    text-align: center;
    height: auto;
    padding: 22px 0;
  }
  .footer_menu_wrp{
    background: #c01027;
    border-bottom: 0;
  }
  .footer_menu ul li{
    float: none;
    display: inline-block;
  }
    .footer_menu ul li{
      margin: 0 8px;
    }
    .footer_menu ul li a{
      font-size: 18px;
      line-height: 30px;
      color: #fefeff;
      margin: 0;
    }
  
  /* logo */
  .footer .grid_935{ text-align: center;}
  .footer a.logo{
    float: none;
    margin: 25px auto;
    display: inline-block;
    height: auto;
  }
    .footer img.logo{
      width: 125px;
      height: auto;
      float: none;
      margin: 0;
    }

  /* text */
  .footer_text{
    font-size: 11px;
    line-height: 17px;
    margin: 0 0 25px;
  }

  /* contacts*/
  .footer_contacts{
    font-size: 12px;
    line-height: 19px;
    padding: 20px 0;
  }
  .footer_contacts .e-mail_wrp,
  .footer_contacts .phone{
    width: 100%;
  }
  .footer_contacts .e-mail_wrp{
    margin-bottom: 10px;
  }

  /* copyrights */
  .copyright{
    padding: 25px 15px;
    text-align: left;
    font-size: 11px;
    line-height: 20px;
  }
    .copyright a{
      display: inline-block;
    }
  .copyright .welldo_logo{
    right: -30px;
    top: 0;
  }

}